<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to come</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="wrapper">
    <h1>세종 꿀팁-명소편</h1>
    <hr class="upper-hr" />
    <section class="place-main">
      <h1>명소</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>고인돌</p>
          <div>
            <img class="place-img" src="/img/goindol.jpg" alt="" />
          </div>
          <ul><li>
            대양AI센터와 학술정보원 사이에 있는 고인돌</p>
          </li>
          </ul>  </div>
        <div class="place-contents">
          <p>시계탑</p>
          <div>
            <img class="place-img" src="/img/clocktop.jpeg" alt="" />
          </div>
          <ul>
            <li>밤이 되면 더욱 아름다운 세종대의 주차타워</li>
            <li>학우들의 SNS에 자주 등장하는 단골손님</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>운동장 옆 돌계단</p>
          <div>
            <img class="place-img" src="/img/playground.jpg" alt="" />
          </div>
          <ul><li>
            운동장 옆에 위치한 돌계단</li><li>
            친구들과 얘기하면 한 시간 뚝딱</li>
          </ul>
        </div>
      </section>
    </section>
    <!-----------nav------------>
    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록</span>
      </div>
    </nav>
  </body>
</html>
