<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to come</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="wrapper">
    <h1>세종 꿀팁-맛집편</h1>
    <hr class="upper-hr" />
    <section class="place-main">
      <h1>일식</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>스시붐</p>
          <div>
            <img class="place-img" src="/img/goindol.jpg" alt="" />
          </div>
          <ul><li>
            대표메뉴: 따연초</p>
          </li>
          </ul>  </div>
        <div class="place-contents">
          <p>행복한 그릇</p>
          <div>
            <img class="place-img" src="/img/clocktop.jpeg" alt="" />
          </div>
          <ul>
            <li>대표메뉴: 김치나베</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>동경 규동</p>
          <div>
            <img class="place-img" src="/img/playground.jpg" alt="" />
          </div>
          <ul><li>대표메뉴: 규동</li>
          </ul>
        </div>
      </section>
    </section>
    <!-----------nav------------>
    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록</span>
      </div>
    </nav>
  </body>
</html>
