<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to come</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="wrapper">
    <h1>맛집 꿀팁</h1>
    <hr class="upper-hr" />
    <section class="place-main">
      <h1>한식</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>국수사랑채</p>
          <div>
            <img class="place-img" src="/tipimg/store/kr1.jpg" alt="" />
          </div>
          <ul>
            <li>📌잔치국수</li>
          </ul>  </div>
        <div class="place-contents">
          <p>쭈꾸미3</p>
          <div>
            <img class="place-img" src="/tipimg/store/kr2.jpg" alt="" />
          </div>
          <ul>
            <li>📌쭈삼</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>장원칼국수</p>
          <div>
            <img class="place-img" src="/tipimg/store/kr3.jpg" alt="" />
          </div>
          <ul><li>📌닭칼국수</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>깍뚝</p>
          <div>
            <img class="place-img" src="/tipimg/store/kr4.jpg" alt="" />
          </div>
          <ul><li>📌삼겹살</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>고향산천 원조 숯불닭갈비</p>
          <div>
            <img class="place-img" src="/tipimg/store/kr5.jpg" alt="" />
          </div>
          <ul><li>📌숯불닭갈비</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>이항아</p>
          <div>
            <img class="place-img" src="/tipimg/store/kr7.jpg" alt="" />
          </div>
          <ul><li>📌삼겹살</li>
          </ul>
        </div>
      </section>
      <h1>일식</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>스시붐</p>
          <div>
            <img class="place-img" src="/tipimg/store/jp1.jpg" alt="" />
          </div>
          <ul><li>
            📌따연초</p>
          </li>
          </ul>  </div>
        <div class="place-contents">
          <p>행복한 그릇</p>
          <div>
            <img class="place-img" src="/tipimg/store/jp2.jpg" alt="" />
          </div>
          <ul>
            <li>📌김치나베</li>
          </ul>
        </div>
      </section>
      <h1>중식</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>미식반점</p>
          <div>
            <img class="place-img" src="/tipimg/store/ch1.jpg" alt="" />
          </div>
          <ul><li>
            📌짜장면</p>
          </li>
          </ul>  </div>
          <div class="place-contents">
            <p>시홍쓰</p>
            <div>
              <img class="place-img" src="/tipimg/store/ch2.jpg" alt="" />
            </div>
            <ul>
              <li>📌토마토계란덮밥</li>
            </ul>
          </div>
        <div class="place-contents">
          <p>세종원</p>
          <div>
            <img class="place-img" src="/tipimg/store/ch3.jpg" alt="" />
          </div>
          <ul>
            <li>📌짜장면</li>
          </ul>
        </div>
      </section>
      <h1>술집</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>D 27</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub1.jpg" alt="" />
          </div>
          <ul>
            <li>📌나베</li>
          </ul>  
        </div>
        <div class="place-contents">
          <p>맛닭꼬</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub2.jpg" alt="" />
          </div>
          <ul>
            <li>📌로스트 치킨</li>
          </ul>
        </div>
        
        <div class="place-contents">
          <p>육회공작소</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub3.jpg" alt="" />
          </div>
          <ul>
            <li>📌육회</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>미식반점 Pub</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub5.jpg" alt="" />
          </div>
          <ul>
            <li>📌탕수육</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>지그재그</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub6.jpg" alt="" />
          </div>
          <ul>
            <li>📌어묵탕</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>숨비소리</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub7.jpg" alt="" />
          </div>
          <ul>
            <li>📌말사시미</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>왕십리정곱창</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub8.jpg" alt="" />
          </div>
          <ul>
            <li>📌막창양념구이</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>뱃놈</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub9.jpg" alt="" />
          </div>
          <ul>
            <li>📌조개구이</li>
          </ul>
        </div>
        <div class="place-contents">
          <p>재즈레스토랑</p>
          <div>
            <img class="place-img" src="/tipimg/store/pub10.jpg" alt="" />
          </div>
          <ul>
            <li>📌돈까스</li>
          </ul>
        </div>
      </section>
      <h1>분식</h1>
      <section class="place-container">
        <div class="place-contents">
          <p>은혜떡볶이</p>
          <div>
            <img class="place-img" src="/tipimg/store/sch1.jpg" alt="" />
          </div>
          <ul><li>
            📌간장떡볶이</p>
          </li>
          </ul>  </div>
        <div class="place-contents">
          <p>디델리</p>
          <div>
            <img class="place-img" src="/tipimg/store/sch2.jpg" alt="" />
          </div>
          <ul>
            <li>📌떡볶이</li>
          </ul>
        </div>
      </section>
    </section>
    <!-----------nav------------>
    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록</span>
      </div>
    </nav>
  </body>
</html>
