<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sejong maps</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="wrapper">
    <h1>개발자 보기</h1>
    <hr class="upper-hr" />
    
    <main class="dev-main">
      <section class="kang">
        <article class="name">강인영</article>
        <article class="profile">
          <img src="/profile/kang.jpg"/>
        </article>
        <article class="explain">세종대학교 지능기전공학부 20</article>
        <article class="cv">
          <a href="#" target="_blank"><i class="fab fa-blogger fa-2x"></i></a>
          <a href="https://github.com/inyeong-kang" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
        </article>
      </section>
      <section class="yong">
        <article class="name">김용현</article>
        <article class="profile"></article>
        <article class="explain">세종대학교 지능기전공학부 21</article>
        <article class="cv">
          <a href="https://yh4752.tistory.com/" target="_blank"><i class="fab fa-blogger fa-2x"></i></a>
          <a href="https://github.com/yh4752" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
        </article>
      </section>
      <section class="tomato">
        <article class="name">노지민</article>
        <article class="profile">
          <img src="/profile/roh.jpg"/>
        </article>
        <article class="explain">세종대학교 지능기전공학부 21</article>
        <article class="cv">
          <a href="https://rotoma-code.tistory.com/" target="_blank"><i class="fab fa-blogger fa-2x"></i></a>
          <a href="https://github.com/emilyjiminroh" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
        </article>
      </section>
      <section class="ryu">
        <article class="name">유지원</article>
        <article class="profile"></article>
        <article class="explain">세종대학교 지능기전공학부 21</article>
        <article class="cv">
          <a href="https://classic-griver.tistory.com/" target="_blank"><i class="fab fa-blogger fa-2x"></i></a>
          <a href="https://github.com/Jiyajiwon" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
        </article>
      </section>
    </main>

    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록</span>
      </div>
    </nav>
  </body>
</html>
