<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sejong maps</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <section></section>
    <section class="index-main">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/contents/where" class="block"
            ><i class="fas fa-map-marker-alt"></i
          ></a>
        </div>
        <span>여긴 어디?</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/contents/findmap" class="block"
            ><i class="fas fa-map"></i
          ></a>
        </div>
        <span>지도 보기</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/contents/chall" class="block"
            ><i class="fas fa-lightbulb"></i
          ></a>
        </div>
        <span>세종 챌린지</span>
      </div>
    </section>
    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록</span>
      </div>
    </nav>
  </body>
</html>

