<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sejong maps</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
  <h1>Sejong maps</h1>
  <h3><a href="/contents/where">여긴 어디?</a></h3>
  <h3><a href="/contents/findmap">지도 보기</a></h3>
  <h3><a href="/contents/chall">세종 챌린지</a></h3>

  <h3><a href="/navs/howtocome">세종오는길</a></h3>
  <h3><a href="/navs/tips">세종 꿀팁</a></h3>
  <h3><a href="/navs/comments">방명록</a></h3>
</body>
</html>