<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to come</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="wrapper">
    <h1>세종 꿀팁</h1>
    <hr class="upper-hr" />
    <section class="index-main">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="store" class="block"
            ><i class="fas fa-map-marker-alt"></i
          ></a>
        </div>
        <span>맛집편</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="place" class="block"><i class="fas fa-map"></i></a>
        </div>
        <span>명소편</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="tmi" class="block"><i class="fas fa-lightbulb"></i></a>
        </div>
        <span>TMI편</span>
      </div>
    </section>
    <!-----------nav------------>
    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록 (개발 중)</span>
      </div>
    </nav>
  </body>
</html>
