/*****
* {
  font-family: "SF_HambakSnow";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
*****/

.chall__body {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 90vh;
}
.chall-center {
  text-align: center;
}

.chall-title {
  font-size: var(--m);
  font-weight: 700;
}

.chall-title___box {
  margin: 6% 0px;
}
.chall-content__box {
  margin: 0px;
  min-width: 700px;
}
.chall-content {
  display: inline-block;
  font-size: 130%;
  line-height: 250%;
  padding: 10% 7%;
  background-color: #fffde5;
  border-radius: 40px;
  border: 1.8px solid black;
  box-shadow: darkgray 10px 10px 5px;
}
.chall-contentch1 {
  padding: 6% 12%;
}
.chall-btn {
  display: block;
  padding: 2% 5%;
  background-color: #c30e2e;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 12px;
  border: 1.8px solid black;
  box-shadow: darkgray 10px 10px 5px;
}
.chall-btn a {
  text-decoration: none;
}
.chall-announce {
  display: flex;
  flex-direction: column;
}
.chall-announce-1 {
  font-size: 15px;
  font-size: 120%;
  padding-bottom: 2%;
  font-weight: 700;
}
.chall-announce-2 {
  padding-bottom: 2%;
  font-size: 100%;
}
.chall-announce-3 {
  font-size: 100%;
}
.chall-btn__text {
  font-size: 150%;
  color: floralwhite;
  font-weight: 600;
  letter-spacing: 3px;
}
.chall-btn1 {
  display: block;
  padding: 6% 10%;
  box-shadow: darkgray 10px 10px 5px;
  margin-top: 30%;
  margin-bottom: 10%;
}
