<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="chall__body">
    <header>
      <h1 class="chall-title chall-center chall-title___box">
        ch.3. 잇츠... 공부 타임 !!!
      </h1>
    </header>
    <main class="chall-center chall-content__box">
      <p class="chall-content chall-contentch1">
        우리.. 그래도 대학에 와쓰면 공부를 해야겄제..??<br />
        일...일단 전공책 부터 사러가자구~<br />
        아! 맞아 여기에 각종 문구류랑 세종대 굿즈도 판다구우~~<br />
        어디로 가야하아아아게에??<br />
      </p>
      <div class="chall-btn">
        <a href="four" class="chall-center"
          ><span class="chall-btn__text">미션 4로 가기</span></a
        >
      </div>
    </main>
  </body>
</html>
