<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="chall__body chall-center">
    <span class="chall-title chall-center chall-title___box"
      >ch.0 헬로 잇츠 기린 선배</span
    >
    <main class="chall-center chall-content__box">
      <p class="chall-content">
        안녕? 거기 있는 귀요미 21, 20 병아뤼들 <br />
        난 기이이륀 선배야~ 절대 무서운 선배 아니란다^^ <br />
        우리 병아뤼들을 위해 세종 투어를 떠나볼꺼야, <br />
        잘 따라올 수 있쥐이~ 병아뤼들?<br />
      </p>
      <div class="chall-btn">
        <a href="two" class="chall-center"
          ><span class="chall-btn__text">미션 1로 가기</span></a
        >
      </div>
    </main>
  </body>
</html>
