<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge_1</title>
    <script
      src="https://kit.fontawesome.com/d5fbb687f5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
  </head>
  <body class="chall__body chall-center wrapper">
    <nav class="index-nav">
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/" class="block"><i class="fas fa-home"></i></a>
        </div>
        <span>홈</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/howtocome" class="block"
            ><i class="fas fa-walking"></i
          ></a>
        </div>
        <span>세종 오는 길</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/tips" class="block"><i class="fas fa-pen"></i></a>
        </div>
        <span>세종 꿀팁</span>
      </div>
      <div class="btn-box">
        <div class="icon-btn">
          <a href="/navs/comments" class="block"
            ><i class="fas fa-comments"></i
          ></a>
        </div>
        <span>방명록</span>
      </div>
    </nav>
    <span class="chall-title chall-center chall-title___box"
      >ch.0 헬로 잇츠 기린 선배</span
    >
    <main class="chall-center chall-content__box">
      <p class="chall-content">
        안녕? 거기 있는 귀요미 21, 20 병아뤼들 <br />
        난 기이이륀 선배야~ 절대 무서운 선배 아니란다^^ <br />
        우리 병아뤼들을 위해 세종 투어를 떠나볼꺼야, <br />
        잘 따라올 수 있쥐이~ 병아뤼들?<br />
      </p>

      <div class="chall-btn">
        <a href="two" class="chall-center"
          ><span class="chall-btn__text">미션 1로 가기</span></a
        >
      </div>
    </main>
  </body>
</html>
