<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
  <header>
    <span>잇츠 기린 선배와 떠나는 세종투어</span>
  </header>
  <main>
    <section class="intro">
      <span>안내</span>
      <span>정문에서 시작해 주세요!</span>
      <span>약 20-30분 정도 소요됩니다.</span>
    </section>
    <section>
      <a href="one"><span>시작하기</span></a>
    </section>
  </main>
  <footer>
    <nav></nav>
  </footer>
</body>
</html>