<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="chall__body">
    <header>
      <h1 class="chall-title chall-center chall-title___box">
        ch.2 잇츠 밥 바라밥 타임
      </h1>
    </header>
    <main class="chall-center chall-content__box">
      <p class="chall-content chall-contentch1">
        오우.. 대양홀에서 너무 즐겨버렸어,<br />
        너희들도 배고플꺼야 그렇취? <br />
        우리 이제 학식으로 유우우우명한 소금구이 덮밥 먹으러 가자구~ <br />
        이곳은 유리로 되어 있는 건물 뒤자아인이 뽀인트쥐~<br />
        여긴 으디이이게에? <br />
      </p>
      <div class="chall-btn">
        <a href="four" class="chall-center"
          ><span class="chall-btn__text">미션 3로 가기</span></a
        >
      </div>
    </main>
  </body>
</html>
