<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body class="chall__body">
    <header>
      <h1 class="chall-title chall-center chall-title___box">
        ch.1 잇츠 파뤼 타임
      </h1>
    </header>
    <main class="chall-center chall-content__box">
      <p class="chall-content chall-contentch1">
        헤이! 삐약이들!!<br />
        투어에 앞써서 재미 좀 봐야하지 않겠어? <br />
        잘 기억해 두라구~ <br />
        각종 문화 공연도 열리는 곳!! 어딘지 알겠뉘?? <br />
        너희들이 새내기 배움터를 진행할 곳이기도 하쥐 >< <br />
        알겠으면 아래 버튼을 눌러 사진을 공유해달라구~~<br />
      </p>
      <div class="chall-btn">
        <a href="three" class="chall-center"
          ><span class="chall-btn__text">미션 2로 가기</span></a
        >
      </div>
    </main>
  </body>
</html>
