<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
  <header>
    <h1>잇츠 파뤼 타임</h1>
  </header>
  <main>
    <p>헤이! 거기 투어에 앞써서 재미 좀 봐야하지 않겠어? 잘 기억해 두라구~ 각종 문화 공연도 열리는 곳!! 어딘지 알겠뉘?? 
      너희들이 새내기 배움터를 진행할 곳이기도 하쥐 알겠으면 아래 버튼을 눌러 사진을 공유해달라구~~ </p>
    <a href="three"><span>미션 2로 가기</span></a>
  </main>
</body>
</html>