/****

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

****/

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  color: var(--warmgray1);
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #aaa8a1;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

/* 여기서부터 찐 css */

.where-main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-upload-wrap {
  margin: 20px 0;
  border: 3px solid #334d61;
  border-radius: 5px;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #334d61;
  border: 4px dashed #ffffff;
}

#main-cont {
  display: flex;
  justify-content: center;
}

.start-btn {
  background-color: #7e929f;
  padding: 10px 20px;
  border-radius: 15px;
}

.file-upload {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}

.predict-btn {
  padding: 10px 20px 10px 20px;
  font-size: var(--m);
  width: 30%;
  margin: 0 auto;
  background-color: var(--gray);
  color: var(--lightgray);
  border-radius: 5px;
}

.result {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.where-title {
  font-size: var(--xxl);
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing: 3px;
}
.where-title__box {
  width: 100vw;
}

.where-intro {
  display: flex;
  justify-content: center;
}

.where-content {
  text-align: center;
  font-size: var(--s);
  line-height: 200%;
  margin-bottom: 30px;
}
.start-btn {
  margin-top: 7%;
  background-color: var(--crimsonred);
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}
.start-btn__text {
  font-size: var(--m);
  color: var(--lightgray);
}
.bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}
.where-img {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
