/****

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

****/

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #fad771;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

/* 여기서부터 찐 css */

main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main header {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
main header span {
  font-size: 30px;
}
main section span {
  font-size: 20px;
}
.image-upload-wrap {
  margin-top: 20px;
  border: 3px solid #334d61;
  border-radius: 5px;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #334d61;
  border: 4px dashed #ffffff;
}

#main-cont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.start-btn {
  background-color: #7e929f;
  padding: 10px 20px;
  border-radius: 15px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.predict-btn {
  padding: 5px 0px;
  width: 30%;
  margin: 0 auto;
  background-color: #334d61;
  color: #f3f3f3f3;
  border-radius: 10px;
}

.result {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.where-title {
  font-size: 220%;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing: 3px;
}
.where-title__box {
  width: 100vw;
}
.where-content {
  font-size: 220%;
}
.start-btn {
  margin-top: 7%;
  background-color: #c30e2e;
  padding: 4% 20%;
  border-radius: 50px;
  box-shadow: grey 10px 10px 10px;
}
.start-btn__text {
  font-size: 60px;
  font-weight: bold;
  color: floralwhite;
  letter-spacing: 5px;
}
.bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}
.where-img {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
